<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<header class="header-fixed">
    
    <span (click)="menuclikced()" class="glyphicon glyphicon-plus" style="background-color: white"></span>

	<div class="header-limiter">
		<h1><a href="#"><span>Protobuf Simulator</span></a></h1>

		<nav>
           <a href="#"></a> 
			<a href="#" class="selected"><span class="glyphicon glyphicon-plus"></span></a>
			<a href="#">Message Sender</a>
			<a href="#">Add Component Type</a>
			<a href="#">Upload Jar</a>
			<a href="#">Component Type</a>
			
		</nav>

	</div>

</header>

<!-- You need this element to prevent the content of the page from jumping up -->
<div class="header-fixed-placeholder"></div>

<span class="glyphicon glyphicon-plus"></span>