<header class="header-fixed">

	<div class="header-limiter">

		<h1><a href="#"><span>Protobuf Simulator</span></a></h1>

		<nav>
			<a href="#" class="selected"><span class="glyphicon glyphicon-plus"></span></a>
			<a href="#">Message Sender</a>
			<a href="#">Add Component Type</a>
			<a href="#">Upload Jar</a>
			<a href="#">Component Type</a>
			
		</nav>

	</div>

</header>

<!-- You need this element to prevent the content of the page from jumping up -->
<div class="header-fixed-placeholder"></div>

<span class="glyphicon glyphicon-plus"></span>