<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<header class="header-fixed row">
    
    <div (click)="menuclikced()" class="col-md-1" style="color: #292c2f;font-size: 25px;padding: 0 16px 0 0px;text-align: center;cursor:poin">&#9776; </div>
    

	<div class="col-md-7" style="text-align: center;">
		<span style="color:#fffff;font-size: 30px">Protobuf Simulator</span>
	</div>
    <nav class="col-md-4" style="float: right">
            <!--<a href="#" class="col-md-4"> </a>
			<a href="#" routerLink="/messagesender" ><span class="glyphicon glyphicon-comment customicon col-md-2 customstyle" ></span></a>
            <a href="#" routerLink="/comptype"><a><span class="glyphicon glyphicon-folder-open customicon col-md-2 customstyle"></span></a></a>
			<a href="#" routerLink="/createmsgsender"><span class="glyphicon glyphicon-envelope customicon col-md-2 customstyle"></span></a>
			<a href="#" routerLink="/uploadJar"><span class="glyphicon glyphicon-upload customicon col-md-2 customstyle"></span></a>-->
		</nav>

</header>

<!-- You need this element to prevent the content of the page from jumping up -->
<div class="header-fixed-placeholder"></div>
