

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- [/] jquery -->

    <!-- bootstrap -->
   <div class="side-bar">

       <p><a routerLink="/messagesender">Message Sender</a> <a routerLink="/messagesender"><span class="glyphicon glyphicon-comment"></span></a></p>
<p><a routerLink="/comptype">List Component Type</a><span class="glyphicon glyphicon-phone"></span></p>
<p><a routerLink="/createmsgsender">Create Message Sender</a><span class="
glyphicon glyphicon-envelope"></span></p>
<p><a routerLink="/uploadJar">Upload Jar</a><span class="glyphicon glyphicon-upload"></span></p>
</div> 




